body {
    margin: 1em;
}

div.container {
    max-width: 800px;
}

table {
}

h1 {
    background-color: #1A76A5;
    color: white;
    font-weight: bold;
    padding: 10px;
}

table tr td {
    padding: 5px;
}

table.partners {

}

table.paypal {

}

table.paypal tr td:nth-child(1) {
    font-weight: bold;
    width: 6em;
}

table.paypal tr td:nth-child(2) {
    width: 20em;
}

table.paypal tr td input[type="text"] {
    width: 18em;
}